@{
    ViewData["Title"] = "GroupTrainingText";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="h3 text-center my-4">Виды групповых тренировок</h1>

<div class="container container-fluid">
    <div class="row my-3">
        <div class="col-4 d-flex align-items-stretch">
            <!-- Card Regular -->
            <div class="card card-cascade">

                <!-- Card image -->
                <div class="view view-cascade overlay">
                    <img class="card-img-top" src=https://ag72.ru/wp-content/themes/template/img/gprogram1.jpg" alt="Card image cap">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!-- Card content -->
                <div class="card-body card-body-cascade text-center px-0 pb-0">

                    <!-- Title -->
                    <h4 class="card-title mb-2"><strong>Hot Iron (Хот-Айрон)</strong></h4>
                    <!-- Text -->
                    <h6 class="font-weight-bold indigo-text py-2"> При занятиях Hot Iron:</h6>

                    <ul class="list-group list-group-flush card-text text-body pb-0">
                        <li class="list-group-item"><span class="h5">метаболизм ускоряется на 30%</span></li>
                        <li class="list-group-item"><span class="h5">мышечная ткань уплотняется</span></li>
                        <li class="list-group-item"><span class="h5">за 60 минут тренинга вы тратите до 900 калорий</span></li>
                    </ul>


                </div>

            </div>
            <!-- Card Regular -->
        </div>
        <div class="col-4 d-flex align-items-stretch">
            <!-- Card Regular -->
            <div class="card card-cascade">

                <!-- Card image -->
                <div class="view view-cascade overlay">
                    <img class="card-img-top" src="https://ag72.ru/wp-content/themes/template/img/gprogram2.jpg" alt="Card image cap">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!-- Card content -->
                <div class="card-body card-body-cascade text-center">

                    <!-- Title -->
                    <h4 class="card-title"><strong>Cycle (Сайкл)</strong></h4>
                    <!-- Text -->
                    <p class="strong text-justify text-body h6">
                        Групповая тренировка на стационарных велосипедах, которая имитирует гонки различной интенсивности.
                        <br />
                        <br />
                        Кардионагрузка с отличным жиросжигающим эффектом. Позволит сбросить лишний вес и повысить выносливость.
                    </p>

                </div>

            </div>
            <!-- Card Regular -->
        </div>
        <div class="col-4 d-flex align-items-stretch">
            <!-- Card Regular -->
            <div class="card card-cascade">

                <!-- Card image -->
                <div class="view view-cascade overlay">
                    <img class="card-img-top" src="https://ag72.ru/wp-content/themes/template/img/gprogram3.jpg" alt="Card image cap">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!-- Card content -->
                <div class="card-body card-body-cascade text-center">

                    <!-- Title -->
                    <h4 class="card-title"><strong>Tabat (Табата)</strong></h4>
                    <!-- Text -->
                    <p class="strong text-justify text-body h6">
                        Это система коротких интервальных тренировок с высокой интенсивностью нагрузки, разработанная японским профессором, доктором Идзуми.
                        <br />
                        <br />
                        Tabata позволяет за короткое время сжечь жир, привести в тонус мышцы, построить мускулатуру, увеличить выносливость своего тела.
                    </p>

                </div>

            </div>
            <!-- Card Regular -->
        </div>
    </div>
    <div class="row my-3">
        <div class="col-4 d-flex align-items-stretch">
            <!-- Card Regular -->
            <div class="card card-cascade">

                <!-- Card image -->
                <div class="view view-cascade overlay">
                    <img class="card-img-top" src=https://ag72.ru/wp-content/themes/template/img/gprogram4.jpg" alt="Card image cap">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!-- Card content -->
                <div class="card-body card-body-cascade text-center">

                    <!-- Title -->
                    <h4 class="card-title mb-2"><strong>Stretching (Стретчинг)</strong></h4>

                    <p class="strong text-justify text-body h6">
                        Стретчинг – это разновидность фитнеса, направленная на растягивание мышц и укрепление связок.
                        Такое направление аэробики позволяет держать тело в тонусе.
                        <br />
                        <br />
                        Данную систему упражнений разработали для того, чтобы расслабить мышцы после занятий и подготовить до них.
                    </p>
                </div>

            </div>
            <!-- Card Regular -->
        </div>
        <div class="col-4 d-flex align-items-stretch">
            <!-- Card Regular -->
            <div class="card card-cascade">

                <!-- Card image -->
                <div class="view view-cascade overlay">
                    <img class="card-img-top" src="https://ag72.ru/wp-content/themes/template/img/gprogram5.jpg" alt="Card image cap">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!-- Card content -->
                <div class="card-body card-body-cascade text-center">

                    <!-- Title -->
                    <h4 class="card-title"><strong>Единоборства: Boxing, MMA</strong></h4>
                    <!-- Text -->
                    <p class="strong text-justify text-body h6">
                        Смешанные боевые искусства (также MMA — Mixed Martial Arts) — боевые искусства,
                        представляющие собой сочетание множества техник, школ и направлений единоборств.
                        <br />
                        <br />
                        ММА является полноконтактным боем с применением ударной техники и борьбы как в стойке (клинч) , так и на полу (партер).
                    </p>

                </div>

            </div>
            <!-- Card Regular -->
        </div>
        <div class="col-4 d-flex align-items-stretch">
            <!-- Card Regular -->
            <div class="card card-cascade">

                <!-- Card image -->
                <div class="view view-cascade overlay">
                    <img class="card-img-top" src="https://ag72.ru/wp-content/themes/template/img/gprogram6.jpg" alt="Card image cap">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!-- Card content -->
                <div class="card-body card-body-cascade text-center">

                    <!-- Title -->
                    <h4 class="card-title"><strong>Yoga (Йога)</strong></h4>
                    <!-- Text -->
                    <p class="strong text-justify text-body h6">
                        Комплекс статичных поз (асан) и дыхательных упражнений.
                        Позволяет укрепить мышечный корсет, увеличить подвижность суставов.
                        <br />
                        <br />
                        В широком смысле Йога означает совокупность различных духовных физических и психических практик.
                    </p>
                </div>
            </div>
            <!-- Card Regular -->
        </div>
    </div>
    @if (User.Identity.IsAuthenticated)
    {
        <a  class="btn peach-gradient btn-lg btn-block" asp-area="" asp-controller="GroupTraining" asp-action="FilterPage">Записаться на групповую тренировку</a>
    }
    else
    {
        <a class="btn peach-gradient-rgba btn-lg btn-block" asp-area="" asp-controller="Account" asp-action="Register">Зарегистрируйтесь, чтобы записаться на групповую тренироку!</a>
    }

</div>


