@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization;
<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <LoginDisplay />
        <a href="https://docs.microsoft.com/en-us/aspnet/" target="_blank">About</a>
    </div>
    <AuthorizeView>
        <Authorized>
            <div class="content px-4">
                @Body
            </div>
        </Authorized>
        <NotAuthorized>
            <div class="content px-4">
                Пожалуйста авторизуйтесь
            </div>
        </NotAuthorized>
    </AuthorizeView>
</div>
